<a href="https://colab.research.google.com/github/Ranjith-Data/Python/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Data World")

Hello Data World

In [ ]:
print("Ranjith N")

Ranjith N

In [ ]:
# Assign s as a string
s='Hello World'

In [ ]:
print(s[6])

W

In [ ]:
#print object
print(s)

Hello World

In [ ]:
#Print l
print(s[2])

l

In [ ]:
#Print d
print(s[10])

d

In [ ]:
#String Concatenation

s1='Hello'
s2="world"

print(s1 + " " + s2)

Hello world

In [ ]:
# Repetition(multiplication)
print("Hello_" *5)
print("-"*10)

Hello_Hello_Hello_Hello_Hello_
----------

In [ ]:
#print data 15 times
print("Ranjith" " " * 15)

Ranjith Ranjith Ranjith Ranjith Ranjith Ranjith Ranjith Ranjith Ranjith Ranjith Ranjith Ranjith Ranjith Ranjith Ranjith

In [ ]:
#String Indexing
print(s[1])

e

In [ ]:
#String Slicing
s="Namaste World"
print(s[8:12])
print(s[-5])

Worl
W

In [ ]:
s[-9 : -4]

'ste W'

In [ ]:
#print "World from string
s[8:13]

'World'

In [ ]:
#print "ste" from the string
s[4:7]

'ste'

In [ ]:
#Built in Methods
print(s.upper())

NAMASTE WORLD

In [ ]:
name = 'Einstein'
age=22
married=True

print("My name is %s, my age is %s, and it is %s that I am married" % (name,age,married))

print("My name is {}, my age is {}, and it is {} that I am married" .format (name,age,married))

My name is Einstein, my age is 22, and it is True that I am married
My name is Einstein, my age is 22, and it is True that I am married

In [ ]:
print(f"My name is {name} ,my age is {age}")

My name is Einstein ,my age is 22

In [ ]:
#Addition
4+6

10

In [ ]:
#Subtraction
6*6

36

In [ ]:
#power
2**3

8

In [ ]:
a=10
a+a

20

In [ ]:
#Print mean for a and b
a=10
b=20
a+b/2
count=0
count=(a+b)/2
print(count)

15.0

In [ ]:
#Data Type and Data Structures
#Data Type have single values
#Data Structures have multiple values

a=42
b=3.1
c="Hello"
d=True

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
from typing import List
#Data Structures

#1. List
my_list=[1,2,3,"Ranjith",30.2,[10,20,30]]
my_list

[1, 2, 3, 'Ranjith', 30.2, [10, 20, 30]]

In [ ]:
len(my_list)

6

In [ ]:
#append a value to the end of the list
my_list.append("six")
my_list

[1, 2, 3, 'Ranjith', 30.2, [10, 20, 30], 'six', 'six', 'six']

In [ ]:
my_list[5]

[10, 20, 30]

In [ ]:
list=[0,1,22,3,4,5,6]
print(list)

[0, 1, 22, 3, 4, 5, 6]

In [ ]:
print("element from index 1 to 3",list[0:2])
print("alternate elements,starting at index 0:",list[0::2])
print("every third element, starting at index 1:",list[1::3])

element from index 1 to 3 list[slice(0, 2, None)]
alternate elements,starting at index 0: list[slice(0, None, 2)]
every third element, starting at index 1: list[slice(1, None, 3)]

In [ ]:

print(list)

[0, 1, 22, 3, 4, 5, 6]

In [ ]:
list.insert(0,"Ranjith")
print(list)

['Ranjith', 0, 1, 22, 3, 4, 5, 6]

In [ ]:
#Dictionary, make dictioanry with {} and : to signify a key and a value
# we can store unique key with duplicate values
my_dict={'key1' :'value1','key2':'value2'}
print(my_dict)

{'key1': 'value1', 'key2': 'value2'}

In [ ]:
#cal values by their key
my_dict['key2']=123
my_dict

{'key1': 'value1', 'key2': 123}

In [ ]:
#Set and Booleans
#Unordered collection of unique elements
l=[1,1,2,2,3,3]
l

[1, 1, 2, 2, 3, 3]

In [ ]:
l_set=set(l)
l_set

{1, 2, 3}

In [ ]:
x=set()
x.add(1)
x

{1}

In [ ]:
#Tuple, are ordered and unchangeable
thistuple = ("Apple","Banana","Cherry")
print(thistuple)

('Apple', 'Banana', 'Cherry')

In [ ]:
print(thistuple[2])

Cherry

In [20]:
#COnditional Statement if else
a=6
b=6

In [21]:
a>b

False

In [22]:
if a>b:
         print("a is greater than b")
elif b>a:
         print("b is greate than a")
else :
         print("a and b are equal")

a and b are equal

In [24]:
#loops
for i in range(10) :
      print("Hello Ranjith")

Hello Ranjith
Hello Ranjith
Hello Ranjith
Hello Ranjith
Hello Ranjith
Hello Ranjith
Hello Ranjith
Hello Ranjith
Hello Ranjith
Hello Ranjith

In [25]:
users = list(range(10))

In [26]:
users

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
for user in users:
                  print(f"This is my {users} user")

This is my [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] user
This is my [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] user
This is my [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] user
This is my [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] user
This is my [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] user
This is my [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] user
This is my [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] user
This is my [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] user
This is my [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] user
This is my [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] user

In [40]:
#Program to print even number

list_i=[0,1,2,3,4,5,6,7,8,9]

for number in list_i:
  if number % 2 ==0:
    print(f"Even numbers are {number}")
  else :
    print(f"This is as odd numbers {number}")

Even numbers are 0
This is as odd numbers 1
Even numbers are 2
This is as odd numbers 3
Even numbers are 4
This is as odd numbers 5
Even numbers are 6
This is as odd numbers 7
Even numbers are 8
This is as odd numbers 9

In [49]:
#While loop
x=5
while x<10:
           print('x is currently: ',x, end =' ')
           print('x is still less than 10, adding 1 to x')
           x+=1

x is currently:  5 x is still less than 10, adding 1 to x
x is currently:  6 x is still less than 10, adding 1 to x
x is currently:  7 x is still less than 10, adding 1 to x
x is currently:  8 x is still less than 10, adding 1 to x
x is currently:  9 x is still less than 10, adding 1 to x